@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[62.5%];
  }
  body {
    @apply max-w-[76.8rem] my-0 mx-auto bg-[#f2f2f2];
  }
}

@layer components {
  .container {
    @apply flex h-[100vh] flex-col items-center bg-white pt-[6rem] overflow-auto no-scrollbar;
  }
  .submit_btn {
    @apply mt-[1rem] h-[5rem] w-[100%] rounded-[1rem] text-Body text-white md:mt-[2rem];
  }
  .input {
    @apply h-[4.8rem] w-[100%] rounded-[0.8rem] bg-black-10 px-[1.6rem] text-Body focus:outline-green-50;
  }
  .error_message {
    @apply ml-[1.2rem] text-red;
  }
  .mini_btn {
    @apply h-[3rem] w-[6.5rem] rounded-[1.5rem] bg-green-30 text-Tag text-white;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  
}
